<div style="height: 100%">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <span>CT Project</span>
      <div class="align-center">
        <span *ngIf="userLogged">{{ userLogged.nom }}</span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <img
            class="avatar-img"
            [src]="
              userLogged?.imagePath
                ? userLogged?.imagePath
                : 'assets/img/avatar.png'
            "
            alt="Matiere Image"
          />
        </button>
        <mat-menu #menu="matMenu">
          <a *ngIf="!isLogged" routerLink="/auth/login"
            ><button mat-menu-item>
              <span>Se connecter</span>
            </button></a
          >

          <button *ngIf="isLogged" #logoutBtn mat-menu-item (click)="logout()">
            <span>Se déconnecter</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container" color="primary">
    <mat-drawer mode="side" opened>
      <div class="sidebar">
        <ul class="sidebar-menu">
          <ng-template ngFor let-link [ngForOf]="menus">
            <li
              class="sidebar-menu-item"
              *ngIf="canAccess(link)"
              [ngClass]="{ active: isActive(link.route) }"
            >
              <a
                class="sidebar-menu-link"
                routerLink="{{ link.route }}"
                routerLinkActive="active-link"
              >
                <mat-icon class="sidebar-menu-icon">{{ link.icon }}</mat-icon>
                <span class="sidebar-menu-text">{{ link.name }}</span>
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content style="height: 100%; overflow: unset"
      ><router-outlet></router-outlet
    ></mat-drawer-content>
  </mat-drawer-container>
</div>
