.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  height: 100%;
}

.avatar-img {
  width: 33px;
  height: 33px;
  border: 2px solid #dadada;
  border-radius: 50%;
}

.align-center {
  display: flex;
  align-items: end;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 240px;
  background-color: #f5f5f5;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #dadada;
}

.sidebar-menu-item {
  padding: 1em;
  border-bottom: 1px solid white;
}

.sidebar-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.sidebar-menu-link:hover {
  color: #8a8aac;
}

.sidebar-menu-icon {
  margin-right: 10px;
}

.sidebar-menu-text {
  font-size: 16px;
}

li.active {
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
  .sidebar-menu-link {
    color: white !important;
  }
}
