<mat-card>
  <mat-card-header>
    <h1>{{ titre }}</h1>
    <a routerLink="/assignments/add">
      <button mat-flat-button color="accent">Ajouter</button>
    </a>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <h4>Filtre</h4>
        <mat-form-field>
          <mat-label>Matière</mat-label>
          <mat-select (valueChange)="handleMatiereChange($event)">
            <mat-option>Toutes</mat-option>
            <mat-option
              *ngFor="let matiere of matiereList"
              [value]="matiere._id"
            >
              {{ matiere.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <div class="mat-elevation-z8" [ngSwitch]="userRole">
      <div class="tabs" cdkDropListGroup *ngSwitchCase="role.professeur">
        <div class="tab-buttons">
          <div
            class="tab-button"
            (click)="selectTab(2)"
            [class.active]="selectedTab === 2"
          >
            Non rendu
          </div>
          <div
            class="tab-button"
            (click)="selectTab(1)"
            [class.active]="selectedTab === 1"
            cdkDrop
            cdkDropList
            (cdkDropListDropped)="onTabDroppedToRendu($event)"
            [cdkDropListData]="assignmentsToUpdate"
          >
            Rendu
          </div>
        </div>
        <div class="tab-content">
          <div *ngIf="selectedTab === 2" cdkDropList>
            <app-assignments-cardlist
              [rendu]="false"
              #nonRenduComponent
              [matiereIdFilter]="matiereIdFilter"
              [matiereList]="matiereList"
            />
          </div>

          <div *ngIf="selectedTab === 1">
            <app-assignments-cardlist
              [rendu]="true"
              #renduComponent
              [matiereIdFilter]="matiereIdFilter"
              [matiereList]="matiereList"
            />
          </div>
        </div>
      </div>

      <div *ngSwitchCase="role.admin">
        <app-assignments-datalist />
      </div>

      <div *ngSwitchCase="role.etudiant">
        <app-assignments-cardlist [matiereIdFilter]="matiereIdFilter" />
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <h1>Affichage avec data table</h1>

<app-assignments-datalist/>

<h1>Exemple de scrolling virtuel infini</h1>

<app-assignments-virtualscrolling /> -->
