.matiere-img {
  width: 45px;
  height: 45px;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 3px;
  object-fit: cover;
}

.img-container {
  margin: 0 1em;
}

mat-card-header {
  margin-bottom: 2em;
}

.form {
  display: flex !important;
  flex-direction: column !important;
  margin: 5px !important;
}
